.icon {
    border-radius: 5px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;

    &.disabled {
        color: rgba(#333333, 0.5);
        pointer-events: none;
    }
}

.icon:hover {
    background: #333333;
    color: #ffffff;
    cursor: pointer;
}