/*
TODO: Если хочешь вложенность селекторов, то надо использовать .scss.
      Вроде бы по спецификации из черновиков еще не вышло вложенность селекторов.
      Используй цвета из radix-color, они хранятся в css переменных подробнее на оф сайте radix color, там типа var(--red-2);
*/

.icon {
    border-radius: 5px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;

    &.disabled {
        color: rgba(#333333, 0.5);
        pointer-events: none;
    }
}

.icon:hover {
    background: #333333;
    color: #ffffff;
    cursor: pointer;
}